/*
 * Clearfix
 */

@mixin clear {
	clear: both;
	&:after {
		clear: both;
		display: block;
		content: '';
	}
}


/*
 * Headings
 */

@mixin headings($fontSize) {
	@for $i from 1 through 4 {
		h#{$i} {
			font-size: ($fontSize + 6) -(6* $i);
			line-height: (($fontSize + 6) - (6* $i) )* 1.5 ;
		}
	}
}


/*
 * Media queries
 */



@mixin bp-grandpabear {
	@media all and (max-width:900px) {
		@content;
}
}
@mixin bp-dadybear {
	@media all and (max-width:700px) {
		@content;
}
}
@mixin bp-sonbear {
	@media all and (max-width:500px) {
		@content;
}
}
	@mixin bp-babybear {
	@media all and (max-width:400px) {
		@content;
}
}
@mixin bp-ybabybear {
	@media all and (max-width:540px) {
		@content;
}
}




/*@include bp-babybear {
			display: none;
		} */
