* { box-sizing: border-box; }

html{
  width: 100%; height: 100%;
	font: {
    family: $text-font;
    weight: $light;
    size: 10px;
  }
  line-height: $base-line-height;
  color: #5c5c5c;
//  background: #282828;
  text-align: center;
    
}
.wrapper{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 2rem;
}

a{
  color: $red;
  text-decoration: none;
}

*:active, *:focus {
  outline: none;
}


img {
    max-width: 100%;
    height: auto;
}








