///ASSESSMENT

.container {
    border: 2rem solid $white;
    max-width: 80rem;
    margin: 10rem auto 0 auto;
    background-color: $white;
    h1 {
       cursor: pointer;
       line-height: 10rem;
       font-family: $header-font;
       font-size: 2.6rem;
       font-style: italic;
       color: $white;
       font-weight: $regular;
       padding: 0 2rem;
       background-color: $main-1;
       border-bottom: 5px solid $main-1-darker;
       margin-top: 0.5rem;
       transition: 1.5s;
       @include display-flex;
       @include justify-content(space-between);
       @include align-items(center);
        &.current {
            background-color: $main-2;
            border-bottom: 5px solid $main-2-darker;
            .ion-chevron-up {
                transform: rotate(0deg);
            }
        }
       .ion-chevron-up {
            font-size: 2.5rem;
            transform: rotate(180deg);
            transition: 1s;
        }
    }
    p {
    font-size: 1.6rem;
    text-align: left;
    padding: 3rem 2rem;
    border: 2px solid #ebebeb;
    border-top: none;
    }
}